.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c9bd9c;
  position: fixed;
  z-index: 100;
  white-space: nowrap;
  
  left: 0px;
  right: 0px;
  max-height: 200px;
  
  border-bottom: solid;
  border-color: #353127 ;
  border-width: 10px;
}

.header-icons {
  background-color: #f990537a;
  border: none;
  color: #353127bb;
  border-radius: 20px;
  transition-duration: .4s;

  font-size: 20px;
  font-weight: bolder;
  
  padding: 20px;
  
}

.header-icons:hover {
  background-color: #f99053;
  color: #353127;
}


.left-section,
.logo {
  max-width: 400px;
}





